<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Secrets</title>
  <link rel="stylesheet" href="css1/styles1.css">
</head>

<body class="login">



  <div class="container">
    <h1>Login</h1>
    <!-- Makes POST request to /login route -->
    <form action="/f-old-login" method="POST">
      <div>
        <label for="email">Email</label>
        <input type="email" name="username">
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" name="password">
      </div>
      <button class="btn" type="submit">Login</button>
    </form>

  </div>



</body>

</html>s