<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Secrets</title>
  <link rel="stylesheet" href="css1/styles1.css">
</head>

<body class="login">




  <h1>Register</h1>
  <!-- Makes POST request to /register route -->
  <form action="/f-register" method="POST">
    <div>
      <label for="email">Email</label>
      <input type="email" name="username">
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" name="password">
    </div>
    <button class="btn" type="submit">Register</button>
  </form>



</body>

</html>