<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        FarmMitra
    </title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="shortcut icon" type="image" href="pics/logo2.png">
    <link rel="stylesheet" href="css/vendor.css">
    <link rel="stylesheet" href="css/page1.css">
    <link rel="stylesheet" href="fontawesome-free-5.15.3-web/css/all.css">
    <script src="javascript/jquery-1.8.2.min.js"></script>
    <script src="javascript/bootstrap.min.js"></script>
    <script src="javascript/vanilla-tilt.min.js"></script>
    <script>
        function doit() {
            var vdd = document.getElementById("vp");
            localStorage.setItem("vendorid", vdd.value);
        }
        function dop() {
            window.location.href = "/vendorp";
        }
        function logout() {
            localStorage.removeItem("vendorid");
            window.location.href = "/";
        }
        function setp() {
            window.location.href = "/crops";
        }
        function dosub() {
            var vs = document.getElementById("vsd");
            vs.value = localStorage.getItem("vendorid");

            document.frm.submit();
        }
        function databse(){
            var vs = document.getElementById("vvid");
            vs.value = localStorage.getItem("vendorid");

            document.dtbs.submit();
        }
    </script>

</head>

<body style="overflow: hidden;" onload="doit()">
    <form style="width: 100%;background-color: rgb(49, 10, 10);; " class="pad" method="post" action="/checkrequests"
        name="frm"> <button type="button" class="btn btn-outline-secondary pad" style="position: relative;"
            onclick="logout()">Logout</button>
        <i class="fas fa-business-time req" style="color: white;" onclick="dosub()"></i>
        <input style="width: 0px;height: 0px;visibility: hidden;" id="vsd" name="vid">
        <div class="cont"></div>
    </form>
    <div class="container-fluid pad"
        style="overflow: hidden;width: 100%;position: relative;height: 100vh;padding: 0px;">
        <div class="pad im1"
            style="width: 100%;height: 100vh;position:absolute;z-index: 1;left: 200px;border-radius: 2%;"
            onclick="dop()">
            Profile</div>
        <div class="pad im2 row "
            style="width: 100%;height: 100vh;position:absolute;z-index: 2;left: 500px;border-radius: 2%;">
            <div class="col-md-2">Pricelist</div>
            <div class="col-md-3">


                <h3 class="mt-3" style="background-color: rgba(49, 10, 10, 1);padding: 30px;" onclick="setp()">Save new
                    Price</h3>


            </div>




        </div>
        <form class="pad im3" onclick="databse()" name="dtbs" method="post" action="/vsaveddata" 
            style="width: 100%;height: 100vh;position:absolute;z-index: 3;left: 800px;border-radius: 2%;">
            Database <input type="text" name="vvid" id="vvid" style="width: 0px; height: 0px; visibility: hidden;"></form>

    </div>
    <input style="visibility: hidden;" value="<%=v1%>" id="vp">
</body>

</html>