<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Secrets</title>
    <link rel="stylesheet" href="css1/styles1.css">
</head>

<body class="login">




    <div class="container">
        <h1>Welcome Vendor</h1>
        <p>Login here Or If you are not Registered, Register first</p>
        <hr>
        <a class="btn" href="/v-register" role="button">Register</a>
        <a class="btn" href="/v-old-login" role="button">Login</a>

    </div>



</body>

</html>